.card{
    border-radius: 1rem;
    cursor: pointer;
}
section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    width: 60%;
    margin-top: 75px;
    margin-bottom: 35px;
    justify-content: flex-start;
    align-items: flex-start;
}
.card{
    height: 30px;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: azure;
    grid-column: span 2;
    font-size: 1.2rem;
    padding: 5rem;
    box-shadow: 0.7rem 0.7rem 0rem rgb(23, 23, 23);
    border: 4px solid rgb(23, 23, 23);
    gap: 2rem;
}
.card h1{
    font-size: 125%;
    font-family: cursive;
    font-weight: bold;
    word-wrap: break-word;
}
.card p{
    font-size: 115%;
    font-weight: 600;
    font-family: cursive;
    display: none;
}
.card.active p{
    display: block;
}
.card.active {
    grid-column: 1/span 4;
    grid-row: 1;
    order: 0;
    height: auto;
}
.card.is-inactive{
    grid-column: span 2;
}