body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center bottom;
    backdrop-filter: blur(30px);
}
#bg1{
    background-color: azure;
    max-width: 960px; 
    margin: 75px auto;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}
.image{
    display: block;
}
.image img {
    max-width: 300px; 
    border-radius: 10px;
    height: auto;
}
.nd-sector{
  display: grid;
  grid-template-rows: 0.5fr 0.8fr 0.5fr;
}
.header-rating-row {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 10px; 
}
.header-rating-row h1 {
    font-weight: bolder;
    font-family: cursive;
    font-size: 1.5em;
    margin: 0;
}
.rating-container {
    display: flex;
    flex-direction: column; 
    gap: 7px;
    align-items: center;
}
.score {
    font-size: 1.5em; 
    font-weight: bold;
    color: #333;
    padding-right: 0;
    order: 1;
}
.stars {
    display: flex;
    order: 2; 
}


.text-block {
    width: 70%;
    text-align: left;
    padding: 20px 10px;
}
.text-block h2 {
    font-weight: bold;
    font-family: cursive;
    font-size: 1.2em;
    margin-top: 0; 
}
.text-block p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-bottom: 20px;
}
#footer-row {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    margin-top: 15px; 
}
.list-button{
    display: flex;
    gap: 10px;
    height: 50px;
}
a.button-read, a.button-buy {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 5px 20px; 
    border-radius: 10px; 
    transition: all 0.25s ease;
    text-decoration: none;
}
a.button-read{
  background-color: #FFAE00;
}
a.button-buy{
    background-color: #ededed;
}  
.button-text{
    text-align: center;
    font-size: 1em; 
    font-weight: bold;
    font-family: cursive;
}
a.button-read:hover, a.button-buy:hover {
    font-size: 110%;
}
a.button-read:hover{
  background-color: #ffa600;
  font-size: 125%
}
a.button-buy:hover{
  background-color: #c5c3c3;
  font-size: 125%;
}
.basket-icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.social-share-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
}
.stars {
  display: flex;
}
.stars i {
  font-size: 20px; 
  margin-right: 3px; 
}
.stars .full {
  color: #ffcc00; 
}
.stars .empty {
  color: #ccc;
} 
.score {
  font-size: 32px; 
  font-weight: 500;
  color: #333;
  font-weight: bold;
  padding-right: 5px;
}
.social-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 6px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  font-size: 18px;
  cursor: pointer;
}
.rss {
  background-color: #ff9933; 
}
.facebook {
  background-color: #3b5998; 
}
.twitter {
  background-color: #1da1f2; 
}
.share {
  background-color: #ff9933; 
}
.rss:hover {
  background-color: #d07d29;
  size: 115%
}
.facebook:hover {
  background-color: #283c66;
  size: 115%
}
.twitter:hover {
  background-color: #1887cd;
  size: 115% 
}
.share:hover {
  background-color: #c47526; 
}
